<p id="notice"><%= notice %></p>


  <h1><%= @article.title %></h1>

<strong><p>
  <%= @article.description %>
</p></strong>

<p>
  <em><%= @article.published_on %></em>
</p>

<p>
  <%= markdown @article.body %>
</p>

