<!DOCTYPE html>
<html>
<head>
  <title>Christopher Wavrin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


    <div class="container-fluid">
  		<%= render "layouts/flashes"  %>
      <div class="row-fluid">
        <div class="col-sm-3">
          <div class="sidebar-module sidebar-module-inset">
				
						<%= render 'layouts/sidebar' %>
					</div>
				</div>
        <div class="col-sm-8 col-sm-offset-1">
						<%= yield %>
        </div>
      </div>
      <div class="row-fluid">
         <div class="clearfix visible-xs">
         	  <%= render 'layouts/info' %>
         </div>
			</div>
  	<!--	<%= render "layouts/projects"  %>  -->
			


<br>
<br>
<br>
<br>

<p class="text-center">&#169; Christopher Wavrin 2014 | <%= link_to 'RSS', '/articles.atom' %>
	<% if current_user %>
	| <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %> |
	<%= link_to 'New Article', new_article_path %>
	<% end %>
</p>


</body>
</html>
